<admin-shell>
  <div class="admin-breaks">

    <div class="l-col--container">
      <div class="l-parent--col">
      <div *ngFor="let regionArrays of regionsByStates">
        <div *ngFor="let valuesOfRegionArrays of regionArrays.regions">
          <!-- {{ item.regions }} -->
          {{ valuesOfRegionArrays }}
        </div>
      </div>
   
      



        
        
        
      </div>
      <div class="l-child--col">
        <div *ngFor="let breakArrays of breaksByRegions">
          <div *ngFor="let valuesOfBreakArrays of breakArrays.breaks">
            {{ valuesOfBreakArrays}}
          </div>
        </div>
      </div>
      <div class="l-doc--col">
        
      </div>
    </div>
    
  <p>add Region</p>
  <p>add Break</p>
  <p>overwrite break data</p>
  <p style="margin-left: 200px;">admin-current works!</p>


  </div>
</admin-shell>