@use '../share/helpers' as h-

.mmt-current__page

  .f-mobile
    
  .f-tablet
    .l-flexbox__row
      display: flex
      .l-flexbox__item
        flex: 1
        &--1
          .l-flexbox__col
        &--2

  .f-web  
    .l-flexbox__row
      height: 100px
      width: 100%
      display: flex
      
      .l-flexbox__item
        flex: 1
        &--1
        &--2
        &--3
