.mmt-current__page
  
  .f-mobile
    width: 100%
    height: 100px  
    background-color: red
    
  .f-tablet
    width: 100%
    height: 100px
    background-color: blue

  .f-web  
    width: 100%
    height: 100px
    background-color: green