<div class="mmt-list-item--container">
  <div class="mmt-list-item--outie">

    <div class="flexbox--row-first">

      <div class="flexbox--item star--icon">
        <mat-icon>star</mat-icon>
      </div>
      
      <div class="flexbox--item mmt-list-item--title">
        <h3>Blacks Beach</h3>    
      </div>
      
      <div class="flexbox--item expand--icon">
        <mat-icon>expand_more</mat-icon>
      </div>

    </div>
    <div class="flexbox--row-second">
        <hr>
    </div>

    <div class="flexbox--row-third">
      <div class="flexbox--item">
        <mat-icon>done</mat-icon>
      </div>
      <div class="flexbox--item">
        <h3>3/2 Wetsuit</h3>
        <h3>2–5ft</h3>
        <h3>SSW</h3>
      </div>
    </div>
  </div>
</div>
