@use '../share/colors'
@use '../share/fonts'

/* create a mixin for a parent and a child
@mixin ind__lo($relation: parent, $color: red, $thickness: 3px) // layout indicator     

  @if $relation == parent
    border: $thickness dashed $color
  @else if $relation == child
    box-shadow: $thickness $thickness 0px $color inset, (-$thickness) (-$thickness) 0px $color inset
  @else
    @error "unknow relation #{relation}"
  
.c-item
  height: 100px // ind
  // @include ind__lo
  width: 100%

  &--outie
    height: 100px // ind
    margin: 10px 5% // ind
    // @include ind__lo(parent, green)
    border-radius: 20px 0px 20px 20px
    box-shadow: -4px -4px 10px 2px colors.$color--blue-lighten-rgba70, 4px 4px 10px 2px colors.$color--blue-darken-rgba30
  
.l-item-contents__flex-row
  // width: 100%
  // height: 100%
  // margin: 15px
  // @include ind__lo(parent, yellow)    
  display: flex
  align-items: flex-start
  
  .l-flex-row__items
    // @include ind__lo(child, yellow)

  
  .l-flex-row-item
    &__1
      // @include ind__lo(child, green)
      $squareCenter: 50px
      flex-basis: $squareCenter
      height: $squareCenter
      display: flex
      .l-icon
        margin: auto
    &__2
      // @include ind__lo(child, red)
      flex: 1
    &__3
      // @include ind__lo(child, orange)
      $squareCenter: 50px
      flex-basis: $squareCenter
      height: $squareCenter
      display: flex
      .l-icon
        float: right
        // margin-top: 10px
        margin: auto

.c-icon
  &__star
    font-size: 24px
  &__expand-more
    font-size: 24px

.l-dynamic-data__flex-row    
  .l-flex-row__items
  .l-flex-row-item
    &__1
    &__2
    &__3
// .mmt-list-item
  &--container
    // overflow: hidden
    width: 100%
    height: 50px
    @include ind__lo(parent, green)
    @include ind__lo(child, green)
    // background-color: red // indicator
    padding-top: 10px
    // overflow: none
    margin-top: 200px // indicator
  &--outie  
    // padding: 10px
    // background-color: colors.$color--orange
    background-color: colors.$color--blue
    width: 90%
    margin-left: 5%
    border-radius: 20px 0px 20px 20px
    box-shadow: -4px -4px 10px 2px colors.$color--blue-lighten-rgba70, 4px 4px 10px 2px colors.$color--blue-darken-rgba30

// .flexbox
  &--row
    &-first
      // display: inline-block
      margin-left: 20px
      // background-color: red
      // width: 100%
      // border: 2px dashed red // indicator ----------------------
      // height: 32px      
      padding-top: 0px
      .mmt-list-item--title
        margin-left: 25px
        // padding: auto 0
        // margin-top: -200px
        // padding-top: 5px
        // margin-top: -10px
        // top: 0px
          position: relative
          margin-top: -10px
        h3 
          // padding-bottom: 0px
          margin-bottom: 0px
          // line-height: 0px
          font-size: fonts.$size--h3
          font-family: fonts.$font--display
        // vertical-align: center
        // margin-left: 500px

    &-second  
      width: 80%
      margin-left: 55px
    &-third
      margin: 5px auto
      margin-left: 20px
      h3
        font-size: (fonts.$size--h3 - 2px)
        display: inline-flex
        margin: auto 5px

// .flexbox--item
  border: 2px dashed blue // indicator ----------------------
  display: inline-block

// .star--icon
  // margin-top: 25px
  padding-top: 15px
  // width: 50px

  
// .expand--icon  
  margin-top: 5px
  margin-right: 10px
  float: right
  // right: 0
  // position: relative  
