@use '../share/colors'
@use '../share/fonts'

/* create a mixin for a parent and a child
@mixin ind__lo($relation: parent, $color: red, $thickness: 3px) // layout indicator     

  @if $relation == parent
    border: $thickness dashed $color
  @else if $relation == child
    box-shadow: $thickness $thickness 0px $color inset, (-$thickness) (-$thickness) 0px $color inset
  @else
    @error "unknow relation #{relation}"

.h-ind__lo
  @include ind__lo(parent)
  &--parent
    @include ind__lo(parent)
  &--child 
    @include ind__lo(child)

.c-item
  width: 100%
  &--outie
    margin: 10px 5% 20px
    border-radius: 20px 0px 20px 20px
    box-shadow: -4px -4px 10px 2px colors.$color--blue-lighten-rgba70, 4px 4px 10px 2px colors.$color--blue-darken-rgba30
  
.l-item-contents__flex-row
  display: flex
  .l-flex-row__items
  .l-flex-row-item
    &__1
      $squareCenter: 50px
      flex-basis: $squareCenter
      height: $squareCenter
      display: flex
      .l-icon
        margin: auto
    &__2
      flex: 1
    &__3
      $squareCenter: 50px
      flex-basis: $squareCenter
      height: $squareCenter
      display: flex
      .l-icon
        float: right
        margin: auto

.c-icon
  &__star
    font-size: 24px
  &__expand-more
    font-size: 24px

.l-dynamic-data__flex-col
  display: flex
  flex-direction: column

  .l-flex-col__items
  .l-flex-col-item
    &__1
      padding-top: 12px
      padding-left: 6px
      .l-text
        margin-bottom: 0        
    &__2
    &__3
      // @include ind__lo(parent)            
      flex-basis: auto

.c-text
  &__item-title
    font-size: 20px

.l-quick-preview__flex-row
  // @include ind__lo(parent)
  display: flex
  flex-wrap: wrap
  
  .l-flex-row__items    
    height: 32px
    // @include ind__lo(child, green)
  .l-flex-row-item
    &__icon
      // @include ind__lo(child, orange)
      flex-basis: 30px
      padding-left: 6px
    &__text   
      // @include ind__lo(child, yellow)
      flex-basis: 1
      margin: 0 5px
      h4
        margin-top: 2px
        
.c-icon__done
  font-size: 24px
  color: blue
.c-text__quick-preview
  font-size: 18px

  