<mat-toolbar>
  <mat-toolbar-row class="toolbar--nav-top flexbox--top">
    <div class="flexbox--top-item nav-right"></div>
    <div class="flexbox--top-item nav-center nav-logo">Wave Scrape</div>
    <div class="flexbox--top-item nav-left nav-profile"> <mat-icon>account_circle</mat-icon> </div>

  </mat-toolbar-row>

  <mat-toolbar-row class="toolbar--nav-bottom flexbox--bottom">
    <div class="flex--bottom-item"><mat-icon>search</mat-icon></div>
    <div class="flex--bottom-item"><mat-icon>map</mat-icon></div>
    <div class="flex--bottom-item">
      <div class="icon-outline">
        <mat-icon>waves</mat-icon>
      </div>
    </div>
    <div class="flex--bottom-item"><mat-icon>fast_forward</mat-icon></div>
    <div class="flex--bottom-item"><mat-icon>settings</mat-icon></div>
  </mat-toolbar-row>
  
</mat-toolbar>
<!-- <mat-toolbar class="toolbar--bottom"></mat-toolbar> -->